doctype html
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
      title
      link(rel='stylesheet', type='text/css', href='/lib/extjs/resources/css/ext-all-neptune.css')
      link(rel='stylesheet', type='text/css', href='/lib/extjs/ux/portal/portal.css')
      link(rel='stylesheet', type='text/css', href='/lib/extjs/ux/grid/css/GridFilters.css')
      link(rel='stylesheet', type='text/css', href='/lib/extjs/ux/grid/css/RangeMenu.css')
      script(type='text/javascript', src='/lib/extjs/ext-all.js')
      // <script type="text/javascript" src="/lib/extjs/ext-all-debug-record.js"></script>
      script(type='text/javascript', src='/lib/extjs/locale/ext-lang-zh_CN.js')
      script(type='text/javascript', src='/lib/extjs/ext-theme-neptune.js')
      script(type='text/javascript', src='/lib/DateTimePicker.js')
      script(type='text/javascript', src='/lib/math-uuid.js')
      script(type='text/javascript', src='/javascript/desktop.js')
   body(oncontextmenu='self.event.returnValue=false', style='overflow: hidden;')
      img(border='0', src='/images/login_Background.jpg', width='100%', height='100%', style='position: absolute;left:0px;top:0px;z-index: -1')
